<div class="main">
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>
   <div class="col">
      <h2>Empresa</h2>
      <div fxLayout="column" fxLayoutGap="10px">
         <mat-card>
            <mat-card-content>
               <p class="info-line">
                  <mat-icon class="info-icon">business</mat-icon>
                  <span><b> Nome:</b> {{ empresaNome }}</span>
               </p>
               <p class="info-line">
                  <mat-icon class="info-icon">badge</mat-icon>
                  <span><b> CNPJ:</b> {{ cnpj }}</span>
               </p>
               <p class="info-line">
                  <mat-icon class="info-icon">date_range</mat-icon>
                  <span><b> Data:</b> {{ currentDate }} | {{currentTime}}</span>
               </p>
            </mat-card-content>
         </mat-card>
      </div>
   </div>

   <div class="col">
      <h2 class="collapsible-title" (click)="toggleSection('painel')">
         <mat-icon [ngClass]="{'rotated': isSectionCollapsed('painel')}">expand_more</mat-icon>
         Painel
      </h2>
      <div *ngIf="!isSectionCollapsed('painel')">
         <!-- Cards do Painel -->
         <button mat-raised-button matBadge={{atividadesDia}} class="btn-dashboard" (click)="goToAtividades('DIARIA')">
            <mat-icon>checklist_rtl</mat-icon>
            Atividades do Dia
         </button>
         <button mat-raised-button matBadge={{atividadesSemana}} class="btn-dashboard" (click)="goToAtividades('SEMANAL')">
            <mat-icon>checklist_rtl</mat-icon>
            Atividades da Semana
         </button>
         <button mat-raised-button class="btn-dashboard" (click)="goToAtividades('CALENDAR')">
            <mat-icon>checklist_rtl</mat-icon>
            Calendário de atividades
         </button>
         <button mat-raised-button matBadge={{produtosEstoque}} class="btn-dashboard" (click)="navigateTo('app-lista-estoque/baixo-estoque')">
            <mat-icon>checklist_rtl</mat-icon>
            Produtos Baixo Estoque
         </button>
      </div>
   </div>

   <div class="col">
    <h2 class="collapsible-title" (click)="toggleSection('controles')">
       <mat-icon [ngClass]="{'rotated': isSectionCollapsed('controles')}">expand_more</mat-icon>
       Controles
    </h2>
    <div *ngIf="!isSectionCollapsed('controles')" class="button-container">
       <!-- Botões de Controle -->
       <div *ngFor="let button of controlButtons">
          <div *ngIf="button.visible" class="button-container-item">
             <h3>{{button.controlName}}</h3>
             <div class="button-container-item-btn">
                <button mat-flat-button color="primary" (click)="navigateTo(button.link)">
                   {{ button.title }}
                </button>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [disabled]="!button.itens || button.itens.length === 0">
                   <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menuAbaixo" yPosition="below" xPosition="before">
                   <button mat-menu-item *ngFor="let item of button.itens" (click)="navigateTo(item.link)">
                      {{ item.nome }}
                   </button>
                </mat-menu>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="col">
  <h2 class="collapsible-title" (click)="toggleSection('metricas')">
    <mat-icon [ngClass]="{'rotated': isSectionCollapsed('metricas')}">expand_more</mat-icon>
    Métricas
  </h2>
  <div *ngIf="!isSectionCollapsed('metricas')" class="metrics-container">
    <div *ngIf="metrics.length === 0" class="no-metrics">Sem métricas para exibir</div>
    <!-- div para informar período apurado  -->
    <div class="periodo-apurado" style="width: 100%;">
      <span>Período apurado: {{dataInicioExibicao}} a {{dataFimExibicao}}</span>
      <a href="javascript:void(0)" (click)="changePeriodMetrics()" style="color: #4a4a4a; margin-left: 10px;">Verificar outro período</a>
    </div>

    <mat-card class="metric-card" *ngFor="let metric of metrics" matTooltip="{{ metric.definicao }}" >
      <mat-card-title>{{ metric.title }}</mat-card-title>
      <mat-card-content>
        <p class="metric-value">{{ metric.value }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

</div>
