::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
  padding:  24px 12px !important;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content h2 {
  font-size: 22px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 24px;
  line-height: 1.3;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-primary {
  background-color: #ff6b35;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover:not(:disabled) {
  background-color: #e55a2b;
}

.btn-primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.btn-voltar {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-voltar:hover {
  background-color: #5a6268;
}

.btn-voltar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) { 
  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    padding:  6px 2px !important;
  }

  mat-dialog-content h2 {
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.2;
  }

  .btn-primary,
  .btn-voltar {
    font-size: 14px;
    padding: 8px 12px;
  }

  .modal-actions {
    margin-top: 0px;
  }
}