.button-container {
  display: flex;
  flex-direction: row; /* Ensure each set of buttons is in a new row */
  flex-wrap: wrap;
  gap: 5px; /* Espaçamento entre os itens */
}

.button-container h3 {
  margin-bottom: 0px;
}

.button-container-item {
  flex: 1 1 100%; /* Cada item ocupa 100% da largura do contêiner */
  box-sizing: border-box; /* Inclui padding e border na largura total do elemento */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container-item-btn{
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically align the buttons */
}

.btn-dashboard {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 15rem;
  margin-left: 50px;
  margin-right: 50px;
}

.info-line {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-right: 5px;
}

.col{
  margin-bottom: 1rem;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .main {
    margin-left: 5px;
  }
}
